@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 32px;
    --text-color: #001933;
    --container-bg: #CCE5FF;
    --body-bg: #B3D9FF;
    --timer-hover: hsl(211, 100%, 86%);
    --active-button: hsl(0, 0%, 95%);
    --active-button-bg: #4CA6FF;
    --progress-bar-color: #007FFF;
    --progress-bar-percent: 0%; /* From 0% to 50% max at top */
    --progress-bar-width: 0.5rem;
}

* {
    font-family: Inter;
    font-size: 1rem;
    color: var(--text-color);
}

body {
    background-color: var(--body-bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: var(--container-bg);
    width: calc(62vw - 2 * var(--progress-bar-width));
    height: calc(62vh - 2 * var(--progress-bar-width));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    position: relative;
}

.container::after, .container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--container-bg);
  background-image: conic-gradient(from 180deg,
                      var(--progress-bar-color) var(--progress-bar-percent), /* Left half of bar */
                      transparent var(--progress-bar-percent) calc(100% - var(--progress-bar-percent)),
                      var(--progress-bar-color) calc(100% - var(--progress-bar-percent))); /* Right half of bar */
  z-index: -1;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem -0.25rem;
  padding: var(--progress-bar-width);
}

.container::before {
  filter: blur(0.5rem);
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 0 1rem;
    margin: 0;
}

h3 {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
}

.timer {
    font-size: 2.5rem;
    font-family: monospace;
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-weight: 400;
    border-radius: 1rem;
    transition:
        opacity 0.2s,
        background-color 0.2s;
}

.timer:hover {
    opacity: 0.75;
    background-color: var(--timer-hover);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--text-color);
    font-weight: 300;
    max-width: 80%;
    background-color: transparent;
    transition:
        background-color 0.2s,
        box-shadow 0.2s,
        opacity 0.2s;
}

button:hover {
    box-shadow: 0 0 0.5rem -0.05rem gray;
}

button.active {
    color: var(--active-button);
    border-color: var(--active-button);
    background-color: var(--active-button-bg);
    box-shadow: 0 0 0.5rem -0.05rem var(--active-button-bg);
}

button.active:hover {
    opacity: 0.85;
}

button.active kbd {
    color: var(--active-button);
    border-color: var(--active-button);
}

kbd {
  border-radius: 0.25rem;
  padding: 0.2rem;
  margin: 0 0.3rem;
  font-size: 0.62rem;
  font-weight: 300;
  border: 1px solid var(--text-color);
}

/* Change layout for mobile devices */
@media screen and (max-width: 600px) {
  html {
    font-size: 24px; 
  }

  .container {
    width: calc(100vw - 2 * var(--progress-bar-width));
    height: calc(100vh - 2 * var(--progress-bar-width));
  }

  .container::after {
    border-radius: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 0.75rem;
    margin: 0.25rem;
  }

  .timer {
    font-size: 1.5rem;
  }

  kbd {
    display: none;
  }
}